// ~ generic base styles below ~ //


// ~ wrapper to contain items ~ //
.wrapper {
   max-width: 1260px;
   width: 90%;
   margin: 0 auto;
}


// ~ flex items ~ //
.flex {
   display: flex; 
   justify-content: space-between;
}

// ~ button styles with hover&focus ~ // 
button,
.submit {
   text-transform: uppercase;
   color: $primary;
   background-color: $quinary;
   padding: 0.8rem 1.8rem;
   line-height: 1.2rem;
   text-align: center;
   border-style: hidden;
   cursor: pointer;
   &:hover {
      color: $septenary;
      background-color: $secondary;
   }
   &:focus {
      color: $septenary;
      background-color: $secondary;
   }
   &.secondary {
      width: 100%;
   }
   &.menuIcon {
      color: $primary;
      &:hover {
         color: $headerText;
      }
   }
}

// ~ anchor tag styles with hover&focus ~ //
a {
   border-style: none;
   &.button {
      color: $primary;
      background-color: $quinary;
      padding: 0.9rem 1.8rem;
      line-height: 1.2rem;
      text-align: center;
      border-style: none;
      &:hover {
         background-color: $primary;
         color: $quinary;
      }
      &:focus {
         background-color: $primary;
         color: $quinary;
      }
   }
}

