// ~ footer styles ~ //

footer {
   text-align: center;
   background-color: $primary;
   padding: 0.7rem 0;
   h4 {   
      font-weight: 400;
      color: $septenary;
      text-transform: none;
   }
}