// who section //

.whoSection {
   background-color: rgba($quaternary, 0.2) ;
   padding-top: 4rem;
   h2 {
      margin-bottom: 1.5rem;
   }
   p {
      margin: 2rem 0;
   }
   a {
      button {
         margin-bottom: 6rem;

      }
   }
}

// fact section //

.factSection {
   // background-color: $primary;
   .flexTwo {
      margin-top: 3rem;
   }
   .factOne {
      box-shadow: 30px 20px $senary;
      img {
         box-shadow: -100px 20px $senary;
      }
   }
   .factTwo {
      box-shadow: 30px 20px $tertiary;
      img {
         box-shadow: 100px 20px $tertiary;
      }
   }
   .factImgContainer {
      width: 48%;
      // box-shadow: 20px 20px 1px $tertiary;
      img {
         width: 100%;
         object-fit: cover;
         height:100%;
      }
   }
   .factInfo {
      display: flex;
      flex-direction: column;
      width: 52%;
      padding: 0 2rem;
      h3,
      p {
         margin-bottom: 1.5rem;
      }

   }
   .factInfoOne {
      align-items: right;
      justify-content:flex-end;
   }
   .factInfoTwo {
      text-align: right;
      justify-content: flex-start;
      align-items: left;
   }
}

// information section //

.infoSection {
   padding: 4rem 0 3rem ;

   background-color: $septenary;
   .infoFlex {
      display: flex;
      flex-wrap: wrap;
      .infoContainer {
         width: 50%;
         padding: 1rem;
         .infoIcon {
            width: 30%;
            i {
               background-color: $tertiary;
               padding: 0.5rem;
               border-radius: 50%;
            }
         }
         .infoBox {
            h3 {
               margin-bottom: 1rem;
            }
         }
      }
   }
}


// journey section //

.journeySection {
   padding-bottom: 3rem;
   .journeyImgContainer {
      img {
         width: 100%;
         height: auto;
         max-width: 100%;
      }
   }
   .journeyContainer {
      padding-top: 2rem;
      .journeyPic {
         box-shadow: 20px 18px $tertiary;
         img {
            height: 100%;
            object-fit: cover;
         }
      }
      .journeyInfo {
         padding-left: 4rem;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
   }
}

// photo gallery //

.photoGallery {
   padding-bottom: 3rem;
   .photoContainer {
      width: 32%;
      img {
         width: 100%;
      }
   }
   .photoMid {
      margin: 0 0.5rem;
   }
}