
// ~ 1140px media query ~ //
@media (max-width: 1140px) {
   nav {
      .navContainer {
         width: 62%;
      }
   }

   header {
      .logoContainer {
         img {
            left: 4%;
         }
      }
   }

   .factSection {
      .factInfo {
         padding: 2rem 0 0 3rem;
      }
      .factInfoTwo {
         padding: 0 3rem 0 0;
      }
   }

}

// ~ 940px media query ~ //
@media (max-width: 940px) {

   nav {
      .navContainer {
         width: 70%;
      }
   }

   header {
      .logoContainer {
         img {
            left: -2%;
            width: 43%;
            top: -28px;
         }
         h1 {
            font-size: 3.2rem;
         }
      }
   }
   

   // blog page styles @ 940px
   .blogHeader {
      background-position: 55%;
   }
   .blogMain {
      .flex {
         flex-direction: column;
      }
      .blogFlex {
         .flex {
            flex-direction: row;
            justify-content: space-between;
         }
         .blogLeftSide {
            width: 100%;
            .profileContainer {
               width: 100%;
               display: flex;
            }
            .profileContainer {
               .tabBlogAbout {
                  padding: 0 0 0 2rem;
                  h3,
                  p {
                     width: 100%;
                  }
                  .recentPosts {
                     padding: 0;
                  }
               }
               .blogHidden {
                  display: block;
               }
            }
            .recentPosts {
               display: none;
            }
         }
         .blogRightSide {
            width: 100%;
            margin-top: 2rem;
         }
      }
   }

   // contact page styles 

   .contactMain {
      .flex {
         flex-direction: column;
         .contactLeftSide {
            width: 100%;
            .socialContainer {
               ul {
                  width: 30%;
               }
            }
         }
         .contactRightSide {
            width: 100%;
            .formBox {
               .name,
               .email {
                  width: 100%;
               }
               .email {
                  margin: 0.5rem 0 0 0;
               }
            }
         }
      }
   }

}

// ~ 768px media query ~ //
@media (max-width: 768px) {
   nav {
      .navContainer {
         width: 100%;
         h2 {
            width: 100%;
            text-align: center;
         }
         li {
            display: none;
         }
         .hamburger {
            display: block;
            font-size: 1.5rem;
         }
      }
   }

   header {
      background-image: url(../assets/home-image-1.jpg);
      background-size: cover;
      background-position: center;
      .logoContainer {
         width: 100%;
         margin-top: 25.5rem;
         img {
            left: 13%;
            width: 29%;
            top: -66px;
         }
         h1 {
            font-size: 5rem;
            text-shadow: 1px 1px 2px $solidWhite;
         }
      }
      .headerImgContainer {
         display: none;
      }
   }
   .factSection {
      .flex {
         flex-direction: column;
         .hidden {
            display: block;
         }
      }
      .hidden2 {
         display: none;
      }
      .factImgContainer {
         width: 100%;
      }
      .factInfo {
         width: 100%;
         padding: 3rem 0 0 0;
         h3,
         p,
         a {
            text-align: center;
         }
      }

      .factInfoTwo {
         padding: 2rem 0 0 0;
      }
   }

   .infoSection {
      .infoFlex {
         flex-direction: column;
         flex-wrap: nowrap;
         .infoContainer {
            width: 100%;
            .infoIcon {
               padding-right: 1rem;
            }
         }
      }
   }

   .journeySection {
      padding-bottom: 2rem;
      .journeyContainer {
         .journeyPic {
            display: none;
         }
         .journeyInfo {
            padding-left: 0;
            h2,
            p,
            a {
               text-align: center;
               padding-bottom: 1rem;
            }
         }
      }
   }
}

@media (max-width: 600px) {
   header {
      .logoContainer {
         img {
            top: -40px;
            left: 10%;
         }
         h1 {
            font-size: 4rem;
         }
      }
   }

   .whoSection {
      h2,
      p {
         text-align: center;
      }
      a {
         width: 100%;
         display:block;
         text-align: center;
         
      }
   }   

   .photoGallery {
      .flex {
         flex-direction: column;
         .photoContainer {
            width: 100%;
         }
         .photoMid {
            display: none;
         }
      }
   }

   // blog page styles @ 600px

   .blogHeader {
      background-position: 62%;
   }

   .blogMain {
      .blogFlex {
         padding-top: 3.5rem;
         .flex {
            display: block;
         }
         .blogLeftSide {
            .profileContainer {
               display: block;
               .tabBlogAbout{
                  padding: 0;
                  h3 {
                     text-align: center;
                  }
               }
               .blogHidden {
                  display: none;
               }
            }
            .recentPosts {
               display: block;
            }
         }
         .blogRightSide {
            .flex {
               display: flex;
               flex-direction: column;
            }
            .blogComment {
               .blogImageBox {
                  margin: 0 auto 2rem auto;
                  
               }
               .commentBox {
                  text-align: center;
               }
            }
            .formBox {
               .name,
               .email {
                  width: 100%;
               }
               .email {
                  margin-left: 0;
                  margin-top: 0.5rem;
               }
            }
         }
      } 
   }

}

// ~ 480px media query ~ //
@media (max-width: 480px) {
   header {
      .logoContainer {
         img {
            top: -30px;
            left: 5%;
         }

         h1 {
            font-size: 3.3rem;
         }
      }
   }
   .whoSection {
      h2 {
         font-size: 1.8rem;
      }
      p {
         font-size: 0.9rem;
         line-height: 1.3rem;
      }
   }
}