nav {
   position: sticky;
   top: 0;
   z-index: 10;
   padding: 1rem 0;
   background-color: $tertiary;
   .navContainer {
      width: 55%;
      margin: 0 auto;
      align-items: center;
      h2 {
         font-family: 'Lora', serif;
      }
      li {
         text-transform: uppercase;
         a:hover {
            color: $septenary;
         }
      }
      .hamburger {
         display: none;
      }
   }
}

