nav {
   position: sticky;
   top: 0;
   z-index: 10;
   padding-top: 1rem;
   background-color: $tertiary;
   .navContainer {
      width: 50%;
      margin: 0 auto;
      align-items: center;
      h2 {
         font-family: 'Lora', serif;
      }
      li {
         text-transform: uppercase;
         a:hover {
            color: $septenary;
         }
      }
   }
}