// ~ nav styles ~ //
nav {
   position: sticky;
   top: 0;
   z-index: 10;
   padding: 1rem 0;
   background-color: $tertiary;
   // ~ nav container styles ~ //
   .hiddenFlex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .visibility {
         display: none;
      }
      .display,
      .hamburger {
         display: none;
      }
      .display {
         font-family: 'Lora', serif;
         color: $primary;
      }
   }
   .navContainer {
      width: 55%;
      margin: 0 auto;
      align-items: center;
      h2 {
         font-family: 'Lora', serif;
      }
      li {
         text-transform: uppercase;
         a:hover {
            color: $septenary;
         }
      }
   }
}

