nav {
   background-color: $tertiary;
   .navContainer {
      width: 50%;
      margin: 0 auto;
      align-items: center;
      h2 {
         font-family: 'Lora', serif;
      }
      li {
         a:hover {
            color: $septenary;
         }
      }
   }
}