// ~ site colors ~ //

$primary: #2c2c2c;
$secondary: #285e64;
$tertiary: #f6a823;
$quaternary: #4f4f4f;
$quinary: #05afc1;
$senary: #a82706;
$septenary: #f0efed;
$headerText : rbg(246,246,246);


// ~ text style catalog ~ //

// heading text - blog, get in touch (lora, bold, 80px,black)
// - who is sophie, sophie's journey  (roboto, bold, 42px, black)
// - sophies favorite things, photos, why (roboto, bold, 32px, black)
// about sophie, recent posts (roboto, bold, 24px, black)
// header text 24 - (roboto, bold. 24px, #rgb 246 246 246)
// button text - (roboto, bold, 20px, black)
// menu text - home, about (roboto, bold, 20px, black)
// body text (roboto, regular, 20px, black


//  font-family: 'Lora',
//  serif;

//  font-family: 'Roboto',
//  sans-serif;