html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
i,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 125%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  color: #2c2c2c;
}

h1 {
  font-size: 4rem;
  font-family: "Lora", serif;
  line-height: 4.3rem;
}

h2 {
  font-size: 2.1rem;
  line-height: 2.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.home,
.contact,
.blog {
  color: rbg(246, 246, 246);
  font-size: 1.2rem;
  line-height: 1.4rem;
}

button {
  font-size: 1rem;
  line-height: 1.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  text-transform: uppercase;
  color: #2c2c2c;
  background-color: #05afc1;
  padding: 0.8rem 1.8rem;
  line-height: 1.2rem;
  text-align: center;
  border-style: hidden;
  cursor: pointer;
}
button:hover {
  color: #05afc1;
  background-color: #2c2c2c;
}
button:focus {
  color: #05afc1;
  background-color: #2c2c2c;
}
button.secondary {
  width: 100%;
}
button.menuIcon {
  color: #2c2c2c;
}
button.menuIcon:hover {
  color: rbg(246, 246, 246);
}

a {
  border-style: none;
}
a.button {
  color: #2c2c2c;
  background-color: #05afc1;
  padding: 0.9rem 1.8rem;
  line-height: 1.2rem;
  text-align: center;
  border-style: none;
}
a.button:hover {
  background-color: #2c2c2c;
  color: #05afc1;
}
a.button:focus {
  background-color: #2c2c2c;
  color: #05afc1;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-top: 1rem;
  background-color: #f6a823;
}
nav .navContainer {
  width: 50%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navContainer h2 {
  font-family: "Lora", serif;
}
nav .navContainer li {
  text-transform: uppercase;
}
nav .navContainer li a:hover {
  color: #f0efed;
}

header {
  background-color: #f6a823;
  height: 100vh;
  padding-top: 2.5rem;
}
header .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logoContainer {
  width: 50%;
  position: relative;
}
header .logoContainer img {
  position: absolute;
  top: -50px;
  left: 0;
}
header .logoContainer h1 {
  text-align: center;
  width: 100%;
}
header .headerImgContainer {
  -webkit-box-shadow: 10px 10px 1px #f0efed;
          box-shadow: 10px 10px 1px #f0efed;
}
header .headerImgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoSection {
  padding-top: 4rem;
  margin-bottom: 2rem;
}
.whoSection h2 {
  margin-bottom: 1.5rem;
}
.whoSection p {
  margin: 2rem 0;
}

.factSection .factImgContainer {
  width: 48%;
  -webkit-box-shadow: 20px 20px 1px #f6a823;
          box-shadow: 20px 20px 1px #f6a823;
  margin-top: 3rem;
}
.factSection .factImgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.factSection .factInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 52%;
  padding: 0 2rem;
}